/*-- Fungsi Khusus --*/
.cat{position:absolute;top:1px;left:0;right:0;bottom:0;border:1px solid #000;padding:3px;text-align:left;margin:1px;}
.cat a{display:inline-block;}
/*----*/
body{margin:0;padding:0;}

#header{position:relative;margin-top:28px;}
#top-content{position:absolute;left:60px;top:1px;right:0;bottom:0;text-align:right;}
#search-form .inp-text{border:1px solid #000;padding:3px;background:#fff;width:45%}
#search-form .inp-btn{border:1px solid #000;padding:3px;background:#fff;width:15%}
.heading,.description{margin:0;padding:0;font-size:small;}
#header{border:1px solid #000;border-bottom:none;}
.description{border-bottom:1px solid #000;margin-bottom:7px;}
#navigation{text-align:center;margin:1px;}
#navigation span{border:1px solid #000;padding:5px;margin:1px;}
#navigation a{display:inline-block;}

.highlight{border:1px solid #000;margin:1px;padding:2px;margin-top:8px;}

.post{border:1px solid #000;margin:1px;}
.post-meta{border-bottom:1px solid #000;}
.post-meta2{border-top:1px solid #000;}
.title{margin:0;padding:0;}

#pagination-links,#pagination-links a,#pagination-links span{border:1px solid #000;padding:2px;margin:1px;}

#navigation-menu,#blogroll,#category-bottom{border:1px solid #000;margin:1px;padding:0}
#navigation-menu h3,#blogroll h3,#category-bottom h3,#navigation-menu h4{border:1px solid #000;padding:2px;margin:1px;}

#footer{border:1px solid #000;margin:1px;text-align:center}
#footer h6{padding:0;margin:0;}
#footer img{display:none;}
#footer span{background:transparent!important;color:#000!important;border:none!important;}
#footer:before{content:"Advanced HTML";text-align:center;padding:3px;border:1px solid #000;border-top:none;display:block;}
#footer h6:after{content:url(http://mnafisalmukhdi.pun.bz/files/favicon.ico) "Design";display:block;border:1px solid #000;padding:3px;text-align:center;border-bottom:none;}

#content{margin-top:2px;}
.post-single{border:1px solid #000;margin-top:9px;margin:1px;}
.categories{font-size:small;padding:0;margin:0;}
.categories a{text-decoration:underline;}
.post-single .title{font-size:small;}
.post-single .post-content textarea{background:#fff;color:#000;border:1px solid #000;margin:1px;}
.post-single .post-content h3{border:1px solid #000;margin:1px;padding:2px;}
.post-single .post-content ol{border:1px solid #000;margin:1px;border-bottom:none;}
.post-single .post-content ol li{border-bottom:1px solid #000;}

#recent-posts-list h4{border:1px solid #000;margin:1px;}
#recent-posts-list li{border-bottom:1px solid #000;}

.next,.previous{border1px solid #000;margin:1px;padding:1px;}

#comments h3{border:1px solid #000;margin:1px;}